.home {}

    .home__blur {
        @include backdrop-filter(blur(3 * $ptr));

        display: flex;

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        opacity: 1;

        pointer-events: none;

        transition: opacity 1s;

        &.hidden {
            display: flex;
            opacity: 0;
        }
    }

    .home__change-model-button {
        display: flex;

        column-gap: 0;

        align-items: center;

        justify-content: center;

        position: absolute;
        bottom: 10 * $ptr;
        left: 10 * $ptr;
        z-index: 10;

        padding: 10 * $ptr;

        width: fit-content;

        color: var(--text-color);

        text-align: center;
        text-transform: uppercase;

        background-color: var(--background-color);

        border-radius: $border-radius;

        overflow: hidden;

        transition: padding 0.3s ease, column-gap 0.3s ease;

        &::after {
            content: 'Change Model';
            display: flex;

            align-items: center;

            width: 0;

            opacity: 0;

            white-space: nowrap;

            transform: scale(0);
            transform-origin: left;

            transition: opacity 0.3s ease, transform 0.3s ease, width 0.3s ease;
        }

        &:hover {
            column-gap: 10 * $ptr;

            padding: 10 * $ptr 20 * $ptr;

            &::after {
                width: auto;

                opacity: 1;
                transform: scale(1);
            }
        }
    }

    .home__iframe {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        iframe {
            width: 100%;
            height: 100%;

            border: none;
        }
    }

    .home__modal {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        padding: 20 * $ptr;

        width: 100%;
        height: 100%;

        overflow: hidden auto;

        background-color: rgb(0 0 0 / 20%);

        border-radius: 8 * $ptr;

        box-shadow: 0 4 * $ptr 8 * $ptr rgb(0 0 0 / 10%);
    }

    .home__modal-loading {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        z-index: 10;
    }

    .home__modal-content {
        display: flex;

        flex-direction: column;

        row-gap: 20 * $ptr;

        justify-content: space-evenly;

        height: 100%;
    }

    .home__content-top {
        display: flex;

        flex-direction: column;

        row-gap: 20 * $ptr;

        align-items: center;

        padding: 20 * $ptr;

        height: 100%;
    }

        .home__modal-header {
            display: flex;

            flex-direction: column;

            align-items: center;

            justify-content: center;
        }

        .home__top-trigger {
            display: flex;

            align-items: center;

            height: 100%;
        }

            .home__title-group {
                display: flex;

                flex-direction: row;

                column-gap: 15 * $ptr;

                align-items: center;

                justify-content: center;
            }

            .home__icon {
                width: 100 * $ptr;
                height: 100 * $ptr;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .home__title {
                font-size: 20 * $ptr;
            }

            .home__subtitle {
                font-size: 14 * $ptr;
            }

        .home__drop-area {
            pointer-events: none;

            position: absolute;
            top: 2.5%;
            left: 2.5%;

            width: 95%;
            height: 95%;

            background-color: #ffffff3d;

            border: 2 * $ptr dashed var(--text-color);

            border-radius: $border-radius;

            opacity: 0;
            transform: scale(.95);
            transition: opacity .2s ease-in, transform .2s ease-in;

            &.visible {
                opacity: 1;
                transform: scale(1);

                transition-timing-function: ease-out;
            }
        }

        $trigger-duration: 0.5s;

        .home__modal-input-trigger-text {
            display: flex;

            flex-direction: column;

            row-gap: 10 * $ptr;

            text-align: center;
            transform: rotate(0deg);
            transition: transform $trigger-duration ease;
        }

        .home__modal-input-trigger {
            display: flex;

            align-items: center;

            justify-content: center;

            padding: 10 * $ptr;

            width: 230 * $ptr;
            height: 230 * $ptr;

            font-size: 16 * $ptr;

            background-color: var(--background-color);

            border: 2 * $ptr solid var(--text-color);

            border-radius: $border-radius;
            transform: rotate(0deg);

            transition: border-radius $trigger-duration ease, color $trigger-duration ease, background-color $trigger-duration ease, transform $trigger-duration ease;

            &:hover {
                color: var(--background-color);

                background-color: var(--text-color);

                border-color: var(--background-color);

                border-radius: $border-radius;
                transform: rotate(45deg);
                transition: transform $trigger-duration ease, border-radius $trigger-duration ease, color $trigger-duration ease 0.1s, background-color $trigger-duration ease 0.1s;

                .home__modal-input-trigger-text {
                    transform: rotate(-45deg);
                    transition: transform $trigger-duration ease;
                }
            }

            &:active {
                border-radius: 50%;
            }
        }

    .home__content-bottom {
        display: flex;

        flex-direction: column;

        row-gap: 20 * $ptr;

        align-items: center;

        justify-content: center;

        padding: 20 * $ptr;

        background-color: var(--background-color);

        border-radius: $border-radius;

        box-shadow: 0 4 * $ptr 8 * $ptr rgb(0 0 0 / 10%);
    }

        .home__modal-examples {
            display: flex;

            flex-direction: row;

            column-gap: 20 * $ptr;

            justify-content: space-around;

            width: 100%;
            max-width: 800 * $ptr;
        }

            .home__modal-example {
                display: flex;

                flex-direction: column;

                row-gap: 10 * $ptr;

                align-items: center;

                justify-content: center;
            }

            .home__modal-example-img {
                width: 75 * $ptr;
                height: 75 * $ptr;
            }

            .home__modal-example-title {
                font-size: 14 * $ptr;
            }
