.section.home.hidden
    .home__iframe.disabled
        iframe(src="/webview/index.html" frameborder="0" allowfullscreen) 
    .home__modal.hidden
        .home__modal-content
            h2 Home Section
            p This is the home section of the OHZI Interactive Studio website.
            input(type='file' id='fileInput' accept='.glb,.gltf' onchange='app.home_view.on_file_change(event)')

        .home__modal-loading.hidden Loading...