.section.home.hidden
    .home__iframe.disabled
        iframe(src="#" frameborder="0" allowfullscreen) 
    .home__modal.hidden
        .home__modal-content
            h2 GLTF/GLB Viewer
            p View and inspect your GLTF/GLB files.
            input(type='file' id='fileInput' accept='.glb,.gltf' onchange='app.home_view.on_file_change(event)')

        .home__modal-loading.hidden Loading...

    .home__blur