
$primary-color: #fff !default;
$background-color: #111 !default;
$placeholder-color: #949494 !default;
$gray: #373737 !default;
$dark-gray: #282828 !default;
$light-blue: #1292e8 !default;
$white: #fff !default;
$black: #000 !default;

:root {
    --background-color: #252526;
    --background-color-alt: #444;
    --background-color-hover: #44444480;
    --background-color-dark: #1E1E1E;
    --background-color-green: #a7ff4347;
    --slider-background-color: #333;
    --slider-bar-color: #555;
    --slider-text-color: #CCC;
    --text-color: #CCC;
    --text-color-alt: #767676;
    --icon-green: #50AF8E;
    --icon-orange: #F4B675;
    --icon-red: #F03C31;
    --border-color: #333;
    --border-color-alt: #ccc;
  }
