
$primary-color: #ffffff !default;
$background-color: #111111 !default;

$placeholder-color: #949494 !default;

$gray: #373737 !default;
$dark-gray: #282828 !default;
$light-blue: #1292e8 !default;
$white: #ffffff !default;
$black: #000000 !default;
