
$monaspace-font: 'MonaspaceNeon';

@font-face{
  font-family: $monaspace-font;
  src: url('/fonts/monaspace_neon/MonaspaceNeonNF-Regular.woff2') format('woff2');

  font-weight: 400;
  font-display: swap;
}
@font-face{
  font-family: $monaspace-font;
  src: url('/fonts/monaspace_neon/MonaspaceNeonNF-Medium.woff2') format('woff2');

  font-weight: 500;
  font-display: swap;
}

@font-face{
  font-family: $monaspace-font;
  src: url('/fonts/monaspace_neon/MonaspaceNeonNF-Bold.woff2') format('woff2');

  font-weight: 600;
  font-display: swap;
}
