meta(name="apple-mobile-web-app-title", content="OHZI")
link(rel="apple-touch-icon", sizes="180x180", href="images/common/icon_180.png")
link(rel="mask-icon", href="images/common/safari_pinned_tab.svg", color="#5bbad5")
