meta(name="title", content= sections_meta[0].title)
meta(name="description", content=sections_meta[0].description)
link(rel="canonical", href="https://ohzi.io/")

meta(property="og:locale", content="en_US")
meta(property="og:type", content="website")
meta(property="og:title", content= sections_meta[0].title)
meta(property="og:description", content=sections_meta[0].description)
meta(property="og:url", content="https://ohzi.io/")
meta(property="og:site_name", content= sections_meta[0].title)
meta(property="og:image", content="https://ohzi.io/banner.jpg")
meta(property="og:image:secure_url", content="https://ohzi.io/banner.jpg")

meta(property="twitter:card", content="summary_large_image")
meta(property="twitter:description", content=sections_meta[0].description)
meta(property="twitter:title", content= sections_meta[0].title)
meta(property="twitter:image", content="https://ohzi.io/banner.jpg")
meta(property="twitter:url", content="https://ohzi.io/")

meta(name="theme-color", content="#000000")
